#inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(black, rgba(34, 34, 34, 0.616));
    margin-bottom: 16px;
}
#bannerInformativo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
    padding: 2rem;
    background-color: rgb(167, 167, 167);

    h1 {
        color: black;
        font-size: x-large;
    }
    p {
        color: #424242;
    }
    .medios {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0.5rem;
    }
    @each $size in pic {
        .#{$size} {
            width: 5rem;
        }
    }
}
#brand {
    background-color: #5d5d5d;
    margin-bottom: 1.5rem;

    .brand__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .brand__logo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .brand__logo > img {
        width: 10rem;
        padding: 0.5rem;
        opacity: 50%;
    }
    .brand__logo img:hover {
        opacity: 100%;
    }
}

@import "responsive";
@import "edit";