@import "./bootstrap node/node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: rgba(34, 34, 34, 0.616);
}
a {
    color: white;
}
.input-group {
    width: 50%;
}
h4 {
    font-size: 14px;
    margin-bottom: 0px;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0rem 1rem;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    transition: 1s;
    transform: translate(2.5px, 0px);
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: white;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
    color: white;
}
.navbar-toggler {
    background-color: white;
}