@media only screen and (min-width: 150px) and (max-width: 720px) {
    #inicio {
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #contacto {
        .input-group {
            width: 100%;
        }
    }
}