@media only screen and (min-width: 150px) and (max-width: 720px) {
    #inicio {
        justify-content: center;
        align-items: center;
        height: 100%;

        .inicio__menu {
            flex-direction: column;
            padding: 0;
            margin: 0;
            margin-top: 8px;
        }

        .inicio__menu > li > a {
            font-size: large;
        }
    }

    #contacto {
        .input-group {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 720px) and (max-width: 1000px) {
    #inicio {
        .inicio__menu {
            padding: 0;
            margin: 0;
        }

        .inicio__menu > li > a {
            font-size: 20px;
        }
    }
}